<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="res/styles.css">
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.keywords }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:image" content="{{ page.cover_image }}">
</head>
<body>

$GENERETO_INCLUDE['header.html']

<main class="container">
    <article>
        {{ content }}
    </article>
</main>

$GENERETO_INCLUDE['footer.html']

</body>
</html>
